@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(0, 0%, 95%);
    font-family: "IBM Plex Mono", monospace;
}

/* collapse the borders */
table {
    border-collapse: collapse;
}

/* remove the borders for the cells representing the "hints" */
tr:first-of-type td,
tr td:first-of-type {
    border: none;
}
/* slightly separate the span elements included in the first column */
tr td:first-of-type span {
    margin-right: 0.5rem;
}
/* position the span elements included in the first row atop one another */
tr:first-of-type td span {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}
/* style the span elements */
tr td span {
    font-weight: bold;
    font-size: 1.25rem;
}
/* include a solid border for the rest of the table */
td {
    border: 2px solid hsl(0, 0%, 5%);
}

/* have each button occupy a fixed width and height */
td button {
    display: block;
    width: 50px;
    height: 50px;
    /* ! these are momentary values */
    background: none;
    border: none;
}
