@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Overpass:400,600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Overpass', sans-serif;
  /* display the content in a horizontally centered column */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* display the controls in a row, pushing the last control to the very right end */
nav {
  display: flex;
  align-items: center;
}
nav button:last-of-type {
  margin-left: auto;
}
nav button {
  width: 45px;
  height: 45px;
  padding: 12px;
  background: none;
  color: inherit;
  border: none;
}
nav button svg {
  width: 100%;
  height: 100%;
  display: block;
}
nav button:hover {
  color: hsl(100, 90%, 30%);
}
nav button:focus {
  outline-color: hsl(100, 90%, 30%);
}

/* include a few values to style the preview
modify the properties of the elements in the .preview class to tailor the appearance of the preview
*/
.editor {
  line-height: 1.75;
  max-width: 550px;
  width: 90vw;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  resize: none;
}
.editor:focus {
  outline: 2px solid hsl(100, 90%, 35%);
}
