@import url("https://fonts.googleapis.com/css?family=Gaegu:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gaegu", cursive;
  min-height: 100vh;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
}
