@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: hsl(0, 0%, 100%);
    /* include a semitransparent svg as a repeating background */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" opacity="0.1" viewBox="0 0 100 50"><g stroke="hsl(240, 20%, 15%)" stroke-linecap="square" stroke-linejoin="square" stroke-width="5" fill="none"><path d="M2.5 47.5l47.5-45 47.5 45"/><path d="M2.5 2.5l47.5 45 47.5-45"/></g></svg>'),
        hsl(320, 95%, 40%);
    background-size: 50px;
    font-family: "Noto Sans TC", sans-serif;
    /* center the "tweet" in the viewport */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
