@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Major Mono Display', monospace;
  background: #f4ecff;
  color: #2d194a;
}
