* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* center the watch in the viewport */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 90%);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
