@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Overpass:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 400;
}

p,
a,
ul {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

code {
  font-family: 'Overpass Mono', monospace;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
