@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Kanit:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  background: hsl(220, 5%, 5%);
  font-family: "Josefin Sans", sans-serif;
}
