@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Ubuntu", sans-serif;
    background: hsl(210, 10%, 90%);
}

.app {
    width: 95vw;
    max-width: 400px;
    margin: 0.5rem auto;
}
.app > * + * {
    margin-top: 1.5rem;
}
