@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background: #e5e8f0;
  padding-top: 0.75rem;
}
body > * + * {
  margin-top: 2rem;
}
