@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Overpass:400,600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Overpass", sans-serif;
    /* display the content in a horizontally centered column */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cap the width of the wrapping container */
.markdown-editor {
    max-width: 600px;
    width: 90vw;
    line-height: 2.25;
    padding: 1rem;
}

/* display the controls in a row, pushing the last control to the very right end */
nav {
    display: flex;
    align-items: center;
}
nav button:last-of-type {
    margin-left: auto;
}
nav button {
    width: 45px;
    height: 45px;
    padding: 12px;
    background: none;
    color: inherit;
    border: none;
}
nav button svg {
    width: 100%;
    height: 100%;
    display: block;
}
nav button:hover {
    color: hsl(100, 90%, 35%);
}
nav button:focus {
    outline-color: hsl(100, 90%, 35%);
}

/* stretch the textarea to cover the available width and a fixed portion of the height */
textarea {
    padding: 1rem;
    line-height: 1.5;
    width: 100%;
    height: 80vh;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    resize: none;
}
textarea:focus {
    outline: 2px solid hsl(100, 90%, 35%);
}

/* styles for the preview */
a {
    color: hsl(100, 90%, 35%);
    font-weight: 700;
}
h1 {
    font-weight: 700;
    font-size: 1.75rem;
}
h2 {
    font-weight: 700;
    font-size: 1.5rem;
}
/* style the pre and code elements in case syntax highlighting is not provided through a class (higher specificity) */
pre {
    overflow-x: auto;
    background: rgb(40, 40, 40);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}
pre code {
    background: none;
    border-radius: initial;
    padding-left: initial;
}
code {
    color: hsl(0, 0%, 100%);
    background: rgb(40, 40, 40);
    padding: 0.25rem;
    border-radius: 3px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
}

ul {
    list-style-position: inside;
}
