* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(220, 80%, 3%);
  background: hsl(220, 90%, 98%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
